body {
  background: peachpuff;
  text-align: center;
  padding: 1em;
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 70vh;
  gap: 1.5em;
}

.a {
  background-color: rgb(238,224,206);
  border: 1px solid black;
  width: 100%;
  min-height: 20%;
}

.b, .c, .d, .e, .f, .g {
  background-color: rgb(238,224,206);
  border: 1px solid black;
  height: 20%;
  width: 33%;
  flex-grow: 1;
}

.h {
  background-color: rgb(238,224,206);
  border: 1px solid black;
  height: 40%;
  width: 100%;
}
