body {
  background: papayawhip;
  text-align: center;
  padding: 1em;
}


.container {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1.5em;
  
}   

.a, .c, .d, .e, .f {
  border: 1px solid black;
  background-color: rgb(238,224,206);
}

.a {
  min-width: 100%;
}

.b {
  background-color: rgb(238,224,206);
  flex-grow: 4;
  min-width: 100%;
  min-height: 30%;
}

.c, .d, .e {
  flex-grow: 1;
}

.f {
  min-width: 100%;
}

/* desktop view */
@media (min-width: 600px) {
  .container {
    
  }
  .a, .b, .c, .d, .e {
    flex-flow: column wrap;
  }

  .a {
    width: 100%;
    height: 33%;
  }

  .b {
    border: 1px solid black;
    max-width: 70%;
    height: 33%;
  }

  .c {
    width: 25%;
    height: 25%;
  }
  .d {
    width: 25%;
    height: 25%;
  }
  .e {
    width: 25%;
    height: 25%;
  }

  .f {
    min-height: 66%;
    max-width: 25%;
    flex-basis: 15%;
    justify-content: flex-end;
  }
}