body {
  background: papayawhip;
  text-align: center;
}


.container {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
}   

.a, .c, .d, .e, .f {
  border: 1px solid black;
  margin: 15px;
  background-color: rgb(238,224,206);
}

.a {
  min-width: 100%;
}

.b {
  margin: 15px;
  background-color: rgb(238,224,206);
  flex-grow: 4;
  min-width: 100%;
  min-height: 30%;
}

.c, .d, .e {
  flex-grow: 1;
}

.f {
  min-width: 100%;
}

/* desktop view */
@media (min-width: 251px) {

}